---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Биография Шрилы Прабхупады за 5 минут"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/Prabhupada_3.jpg"
>

<h2>1896</h2>
	<p>
	Шрила Прабхупада родился 1 сентября в Калькутте в религиозной семье бенгальских вайшнавов. Отец был торговцем тканей, его звали Гоур Мохан Де, а мать – Раджани. При рождении ему дали имя Абхай - тот, кто обрел бесстрашие у стоп Кришны.
	</p>
<h2>1916</h2>
	<p>
	Шрила Прабхупада поступил в престижный христианский колледж Шотландских церквей. В колледже он изучал английский, санскрит, философию, экономику, западную культуру и литературу, Библию и христианское богословие.
	</p>
<h2>1918</h2>
	<p>
		Отец устроил ему свадьбу с девушкой по имени Радхарани Датта, которая происходила из аристократической бенгальской семьи. У них родилось пятеро детей: три сына (Праяг Радж, Матхура Мохан и Вриндаван Чандра) и две дочери (Сулакшмана и Бхактилата).
	</p>
<h2>1920</h2>
	<p>
	Абхай закончил колледж, сдал успешно все экзамены, но решил отказаться от диплома, так как примкнул к индийскому национальному освободительному движению, который основал Махатма Ганди. Политика Ганди была в том, что нужно отказаться от всего британского.
	</p>
<h2>1921</h2>
	<p>
		Шрила Прабхупада начал карьеру в фармацевтическом бизнесе. Вначале он устроился управляющим в химической лаборатории друга отца. Через два года Абхай с семьей переехал в Аллахабад, где открыл свою аптеку.
	</p>
	<h2>1922</h2>
		<p>
	В возрасте 26-ти лет Абхай впервые встретился со своим духовным учителем Бхактисиддхантой Сарасвати. Первыми словами духовного учителя к нему были: "Вы, образованные молодые люди, и вам стоило бы проповедовать учение Господа Чайтаньи на Западе".
	</p>

		<h2>1928</h2>
		<p>
	К Абхаю в аптеку пришли ученики Шрилы Бхактисиддханты Сарасвати. Он согласился помочь открыть филиал в своем городе, и именно с этого времени он начал общаться со своими духовными братьями.
	</p>

			<h2>1933</h2>
		<p>
	Абхай получил посвящение у Бхактисиддханты Сарасвати и духовное имя – Абхай Чаранаравинда дас.
	</p>

				<h2>1944</h2>
		<p>
	Абхай получил посвящение у Бхактисиддханты Сарасвати и духовное имя – Абхай Чаранаравинда дас.
	</p>

					<h2>1953</h2>
		<p>
	Абхай попробовал создать общество «Лига преданных», которое обучит 40 вайшнавов, способных отправиться с проповедью учения Господа Чайтаньи по всему миру, но через год ему пришлось свернуть деятельность в этом направлении.
	</p>

						<h2>1954</h2>
		<p>
Абхай Чаранаравинда принимает уклад жизни ванапрастхи – это промежуточный статус между семейной жизнью и полным отречением, и начинает жить отдельно от семьи. Следующие 10 лет он живет в разных храмах. Он продолжает публиковать вайшнавскую литературу и заниматься миссионерской деятельностью.
	</p>

							<h2>1959</h2>
		<p>
17 сентября Абхай получил посвящение в санньясу (отреченный уклад жизни) от своего духовного брата Бхакти Прагьяны Кешавы Госвами, который дал Абхаю монашеское имя «Бхактиведанта Свами».
	</p>

							<h2>1965</h2>
		<p>
В пятницу 13-го августа 1965 года в возрасте 69 лет Шрила Прабхупада вступил на борт корабля «Джаладута» и отправился в плавание к берегам Америки. С собой у него было 200 трехтомных комплекта перевода Шримад-Бхагаватам, 500 листовок с описанием этих книг и миссионерских целей на Западе, пару каратал (ручных цымбал), несколько комплектов шафрановой одежды, пара туфель, 40 индийских рупий (около 7-ми долларов), дневник, зонт и рекомендательное письмо индийской семье, проживающей в Пенсильвании, у которых он остановился на первое время.

Это путешествие длилось 40 дней. За это время Шрила Прабхупада страдал морской болезнью и перенес два сердечных приступа.

В 5.30 утра 17 сентября Джаладута пришвартовалась в гавани Бостона. Далее корабль отправился в Нью-Йорк. Из Нью-Йорка Шрила Прабхупада отправился в Батлер, штат Пенсильвания, где его приняла семья индийского инженера Гопала Агарвала. Там
	</p>

							<h2>1966</h2>
		<p>
Весной Шрила Прабхупада переехал в Нью-Йорк в небольшую комнату на чердаке, находящейся в районе Бауэри, и начал проповедовать молодым людям, регулярно давая вечерние лекции. Там у него появились первые последователи.

В июне Шрила Прабхупада перебрался в более богемную часть Нью-Йорка – Нижний Ист-Сайд, где открыл первый храм, который располагался на второй авеню, 26. Это было помещение бывшего антикварного магазина, на котором до сих пор висела вывеска «Бесценные дары», ее не стали переименовывать.

Его последователями становились хиппи, творческая богема, лидеры ЛСД тусовки и активные участники сексуальной революции. Все они искали что-то высшее.

13 июля Шрила Прабхупада зарегистрировал свою некоммерческую религиозную организацию ИСККОН (Международное общество Сознания Кришны).

9 сентября Шрила Прабхупада провел первый обряд инициации для западных учеников, приняв 11 своих последователей. Те, кто принимал посвящение, давали обеты повторять 16 кругов мантры Харе Кришна на четках и следовать четырем регулирующим принципам:
xxx
– Не есть мяса, рыбу, яйца;
– Не принимать одурманивающих средств (алкоголя, сигарет, наркотиков);
– Не играть в азартные игры;
– Не вступать в незаконные половые отношения вне брака.

Также с сентября этого года Шрила Прабхупада вместе со своими последователями начал проводить киртаны (совместное пение мантры Харе Кришна) в парках Нью-Йорка.

В октябре Шрила Прабхупада вновь начал публикацию уже американского издания журнала "Back to Godhead".

В конце 1966 года Шрила Прабхупада отправил двух своих учеников в Сан-франциско, поручив им открыть там храм.
	</p>

	
						<h2>1968</h2>
		<p>
Шрила Прабхупада послал три семейные пары своих учеников в Лондон, где благодаря их участию был открыт первый храм на другом континенте. Они там достигли очень большого успеха в проповеди, в большей степени благодаря их знакомству с участниками группы «The Beatles», которые прониклись учением Шрилы Прабхупады и всячески его поддерживали, особенно Джордж Харрисон, который в последствии стал учеником Шрилы Прабхупады.

В этом году состоялся выпуск сокращенного издания «Бхагавад-гиты», опубликованного издательством «Макмиллан».
	</p>

							<h2>1970</h2>
		<p>
Осенью Шрила Прабхупада отправился в Индию с планами построить там монументальные храмовые комплексы: в Бомбее, Вриндаване и Маяпуре. Он прибыл туда вместе с группой своих американских учеников. Это было сенсационно, – западные мужчины и женщины приняли индийскую культуру, а не наоборот. Успех Шрилы Прабхупады признала вся Индия.

Далее Шрила Прабхупада продолжал открывать храмы. Их становилось все больше и больше. Он понял, что ему нужно понемногу уходить от управления, поэтому 28 июля он учредил руководящий коллегиальный орган ИСККОН - Комиссию Руководящего совета (GBC).
	</p>

								<h2>1971</h2>
		<p>
20 июня Шрила Прабхупада прибыл в Москву. Он пробыл в столице СССР 5 дней. Ему там удалось лично встретиться только с одним молодым советским парнем, который искренне заинтересовался духовной наукой бхакти-йоги. Шрила Прабхупада передал все знание ему. И этого было достаточно для того, чтобы сейчас центры ИСККОН были во всех крупных городах стран бывшего Советского Союза.
	</p>

									<h2>1972</h2>
		<p>
Было выпущено полное издание «Бхагавад-гиты, как она есть», опубликованное издательством Макмиллан, а 29 мая основано Книжное издательство Бхактиведанты (Bhaktivedanta Book Trust), в котором Шрила Прабхупада выпускал свои книги, и которое публикует книги по сей день.
	</p>
						<h2>1977</h2>
		<p>
14 ноября, после шестимесячной болезни, он оставил тело в храме Кришна Баларам Мандире, который находится во Вриндаване, в окружении своих учеников.
	</p>

</Layout>
